.navbar{
  background-color: gray;
  height: 75px;
}

.chefsinfo{
  border-style: double;
  border-color: black;
  border-radius: 10px;
  padding: 1em;
}

.order-summary{
  border-style: solid;
  border-color: green;
  border-radius: 10px;
  padding: 1em;
  height: 100%;
}

.order{
  text-align: left;
  border-style: dashed;
  border-color: grey;
}