.loginpage{
  background-image: url("http://www.okclipart.com/img39/mycqmimmjuuwcshabmnk.jpg");
  background-size: cover;
}

#mainlogin{
  border-style: solid;
  border-color: #E57373;
  border-width: 1px;
  border-radius: 10px;
  width: 150px;
  height: 500px;
  padding:50px;
  background-color: white;
  margin: auto;
}
.loginandsignup{
    border-color: #E57373;
}

.loginandsignup h2{
    font-family: cursive;
    color: #E57373;
}




