.info{
  padding: 1em;
}

.profilePicture{
  float: left;
}

.order-summary{
  margin-top: 10em;
  margin-right: 10em;
}

.order{
  text-align: left;
}

.orderNumberCollapse{
  color: darkblue;
}

.orderNumberActive{
  float: right;
  color: green;
}
