.user-profile-page{
  background-image: url("food-background.png");
}

.user-profile{
  position: relative;
  padding: 1em;
}

h1{
  text-align: center;
}

.user-list{
  position: absolute;
  top: 60%;
  left: 740px;
  height: 250px;
  margin-top: -125px;
  /*padding: 3em;*/
  width: 20em;
  display: inline-block;
  vertical-align: middle;
}

.user-profilePicture{
  padding-top: 1em;
  padding-left: 1em;
  display: inline-block;
  margin-left: 430px;
}

.order-summary{
  margin-top: 1em;
  margin-right: 1em;
}

.orderDetails{
  margin-top: 0.5em;
}

.order{
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 2em;
  padding: 1em;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #E57373;
  border-radius: 10px;
}

.orderNumberCollapse{
  color: #E57373;
  padding: 1.5em;
}

.orderNumberActive{
  font-weight: bolder;
  float: right;
}

.order-totalprice{
  font-weight: bolder;
  float: right;
}
